:root {
    /* font-size */
    --font-size-xxsm: 11px;
    --font-size-xsm: 12px;
    --font-size-sm: 14px;
    --font-size-md: 15px;
    --font-size-lg: 16px;
    --font-size-xl: 17px;
    --font-size-2xl:18px;
    --font-size-3xl:19px;
    --font-size-4xl: 20px;
    --font-size-5xl: 21px;
    --font-size-6xl:32px;
    --font-size-7xl: 35px;
    --font-size-8xl: 36px;
    --font-size-9xl: 37px;
    --font-size-10xl:38px;
    --font-size-11xl: 39px;
    --font-size-12xl: 55px;
    /* line-height*/
    --line-height-sm: 18px;
    --line-height-md: 18.72px;
    --line-height-lg: 19.2px;
    --line-height-xl: 20px;
    --line-height-2xl: 24.34px;
    --line-height-3xl:25.2px;
    --line-height-4xl: 26px;
    --line-height-5xl: 27.3px;
    --line-height-6xl: 33.6px;
    --line-height-7xl: 37.8px;
    --line-height-8xl: 40px;
    --line-height-9xl: 42px;
    --line-height-10xl:56px;
    /* background-colors */
    --bg-lightblack: #111111;
    --bg-light-black2: #1A1A1A;
    --bg-xtra-lightBlack: #261F264D;
    --footer-background: #000508;
    --footer-border: #141414;
    --light-brown:#19161C;

    --text-violet: #A962FF;
    --text-violet2:#9945FF;
    --text-fade-pink: #F087FF;
    --text-gray: #BABABA;
    --text-green: #19FB9B;
    --text-yellow: #FFEB3B;
    --text-bluegreen: #00BCD4;

    --text-gray2: #848895;
    --bg-lightblack: #111111;
    --bg-black:#0A0A0A;
    --green:#14F195;

    /* linear-gradient */
    --header-gradient: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
    --nav-gradient: rgba(0, 0, 0, 0.6);
    --btn1-gradient: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%);

    /* text-color */
    --dropdown-text-color: #848895;
    --blue: #618ADC;
    --gray: #C4C4C4;
}

.bg_black{
    background: var(--bg-black);
}
.light_brown{
    background: var(--light-brown);
}
.text_violet2{
    color: var(--text-violet2);
}
.text_blue {
    color: var(--blue);
}

.text_gray3 {
    color: var(--gray);
}

.dropdown_color {
    color: var(--dropdown-text-color);
}


.header_gradient {
    background: var(--header-gradient);
}

.nav_gradient {
    background: var(--nav-gradient);
}

.bg_lightblack {
    background: var(--bg-lightblack);
}

.text_gray2 {
    color: var(--text-gray2);
}

.footer_background {
    background: var(--footer-background);
}

.bg_xtra_lightBlack {
    background: var(--bg-xtra-lightBlack);
}

.bg_lightblack {
    background: var(--bg-lightblack);
}

.bg_light_black2 {
    background: var(--bg-light-black2);
}

.text_fade_pink {
    color: var(--text-fade-pink);
}

.text_violet {
    color: var(--text-violet);
}

.text_gray {
    color: var(--text-gray);
}

.text_green {
    color: var(--text-green);
}

.text_yellow {
    color: var(--text-yellow);
}

.text_bluegreen {
    color: var(--text-bluegreen);
}

.font_size_xxsm {
    font-size: var(--font-size-xxsm);
}

.font_size_xsm {
    font-size: var(--font-size-xsm);
}

.font_size_sm {
    font-size: var(--font-size-sm);
}

.font_size_md {
    font-size: var(--font-size-md);
}

.font_size_lg {
    font-size: var(--font-size-lg);
}

.font_size_xl {
    font-size: var(--font-size-xl);
}

.font_size_2xl {
    font-size: var(--font-size-2xl);
}

.font_size_3xl {
    font-size: var(--font-size-3xl);
}

.font_size_4xl {
    font-size: var(--font-size-4xl);
}

.font_size_5xl {
    font-size: var(--font-size-5xl);
}

.font_size_6xl {
    font-size: var(--font-size-6xl);
}

.font_size_7xl {
    font-size: var(--font-size-7xl);
}

.font_size_8xl {
    font-size: var(--font-size-8xl);
}

.font_size_9xl {
    font-size: var(--font-size-9xl);
}

.font_size_10xl {
    font-size: var(--font-size-10xl);
}

.font_size_11xl {
    font-size: var(--font-size-11xl);
}

.font_size_12xl {
    font-size: var(--font-size-12xl);
}

/* line-height */

.line_height_sm {
    line-height: var(--line-height-sm);
}

.line_height_md {
    line-height: var(--line-height-md);
}

.line_height_lg {
    line-height: var(--line-height-lg);
}

.line_height_xl {
    line-height: var(--line-height-xl);
}

.line_height_2xl {
    line-height: var(--line-height-2xl);
}

.line_height_3xl {
    line-height: var(--line-height-3xl);
}

.line_height_4xl {
    line-height: var(--line-height-4xl);
}

.line_height_5xl {
    line-height: var(--line-height-5xl);
}

.line_height_6xl {
    line-height: var(--line-height-6xl);
}

.line_height_7xl {
    line-height: var(--line-height-7xl);
}

.line_height_8xl {
    line-height: var(--line-height-8xl);
}
.line_height_9xl{
    line-height: var(--line-height-9xl);
}
.line_height_10xl{
    line-height: var(--line-height-10xl);
}
@media (min-width:576px) {
    :root{
    --font-size-12xl: 94px;
        
    }
}