@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.font_family_roboto {
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf');
}

.font_family_Helvetica {
    font-family: Helvetica;
}

.letter_sapacing_1_5px {
    letter-spacing: 1.5px;
}

.max_width_1108px {
    max-width: 1108px;
}

.deeper_Section_background {
    background: linear-gradient(180deg, #19161C 0%, #000000 100%);
}
.deeper_card{
    padding: 31.59px 31.9px 34.41px;
    border-radius: 12px;
    min-height: 282px;
    background: #19161C;
    transition: all 400ms ease-in-out;
}

.Deeper_Card_bottom_ellipse{
    bottom: 0;
    right: 0;
   opacity: 0;
    transition: all 400ms ease-in-out;
}
.deeper_card:hover .Deeper_Card_bottom_ellipse{
opacity: 1 !important;
}
.source_section_background{
    background: linear-gradient(180deg, #19161C 0%, #000000 100%);

}



.padding_bottom_32px{
    padding-bottom: 32px;
}
.padding_top_14px{
    padding-top: 14px;
}
.padding_top_35px{
    padding-top: 35px;
}
.text_width_260px{
    max-width: 260px;
}
.text_width_265px{
    max-width: 265px;
}
.text_width_132px{
    max-width: 132px;
}