@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.font_family_roboto {
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf');
}

.font_family_Helvetica {
    font-family: Helvetica;
}

.letter_sapacing_1_5px {
    letter-spacing: 1.5px;
}

.max_width_1108px {
    max-width: 1108px;
}

.deeper_Section_background {
    background: linear-gradient(180deg, #19161C 0%, #000000 100%);
}

.deeper_card {
    padding: 31.59px 31.9px 34.41px;
    border-radius: 12px;
    min-height: 282px;
    background: #19161C;
    transition: all 400ms ease-in-out;
}

.Deeper_Card_bottom_ellipse {
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 400ms ease-in-out;
}

.deeper_card:hover .Deeper_Card_bottom_ellipse {
    opacity: 1 !important;
}

.padding_top_30 {
    padding-top: 30px;
}


.padding_bottom_32px {
    padding-bottom: 32px;
}

.padding_top_14px {
    padding-top: 14px;
}

.padding_top_35px {
    padding-top: 35px;
}

.text_width_260px {
    max-width: 260px;
}

.text_width_265px {
    max-width: 265px;
}

.text_width_132px {
    max-width: 132px;
}

/* css-dushyant */

.cursor_pointer {
    cursor: pointer;
}

/* section1-css */
.padding_top_40 {
    padding-top: 40px;
}

.dropbtn {
    background-color: transparent;
    padding: 16px;
    border: none;
}

.dropbtn:hover {
    color: white;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.max_width_390 {
    max-width: 390px;
}

.py_20px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding_top_19 {
    padding-top: 19px;
}

.header_btn {
    padding: 10px 21.25px 12px 21px;
    border: none;
    border-radius: 24px;
    border: 1px solid #000000;
    background: #14F195;
}

.header_btn:hover {
    background: transparent;
    color: white;
    border: 1px solid #FFFFFF
}

.padding_top_39 {
    padding-top: 39px;
}

.padding_bottom_50 {
    padding-bottom: 50px;
}



.section3_card {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

.section3_bagroungimg {
    background-image: url(../images/webp/section3_card.png);
    background-position: center;
    background-size: 100% 100%;
    object-fit: cover;
    border-radius: 18px;
}

.baground_purple {
    background: #9945FF;
    border-radius: 16px;
    padding: 2px 12px;
}

.padding_top_31 {
    padding-top: 31px;
}

.max_width_387 {
    max-width: 387px;
}

.padding_bottom_26 {
    padding-bottom: 26px;
}

.padding_top_17 {
    padding-top: 17px;
}

.height_320 {
    height: 320px;
}

.padding_bottom_128 {
    padding-bottom: 128px;
}

.max_width_182 {
    max-width: 182px;
}

.section3_card1 {
    background-image: url(../images/webp/section3_card1.png);
    background-position: center;
    background-size: 100% 100%;
    object-fit: cover;
    border-radius: 18px;
}

.section3_card1_padding {
    padding-bottom: 40px;
    padding-right: 18px;
    padding-left: 31px;
}

.section3_card2 {
    background-image: url(../images/webp/section3_card2.png);
    background-position: center;
    background-size: 100% 100%;
    object-fit: cover;
    border-radius: 18px;
}

.section3_card3 {
    background-image: url(../images/webp/section3_card3.png);
    background-position: center;
    background-size: 100% 100%;
    object-fit: cover;
    border-radius: 18px;
}

.section3_card4 {
    background-image: url(../images/webp/section3_card4.png);
    background-position: center;
    background-size: 100% 100%;
    object-fit: cover;
    border-radius: 18px;
}

.section3_card5 {
    background-image: url(../images/webp/section3_card5.png);
    background-position: center;
    background-size: 100% 100%;
    object-fit: cover;
    border-radius: 18px;
}

.section3_card6 {
    background-image: url(../images/webp/section3_card6.png);
    background-position: center;
    background-size: 100% 100%;
    object-fit: cover;
    border-radius: 18px;
}

/* nav-bar */
.bar {
    height: 5px;
    width: 35px;
    border-radius: 6px;
    background-color: white;
}

.menulist.show {
    right: 0;
}


.menuicon.show .bar:nth-child(1) {
    transform: translateY(5px) rotate(47deg);
    transition: all 400ms ease-in;

}

.menuicon.show .bar:nth-child(2) {
    display: none;
}

.menuicon.show .bar:nth-child(3) {
    transition: all 400ms ease-in;
    transform: translateY(-5px) rotate(-52deg);
}

@media (max-width:992px) {
    .menulist {
        flex-direction: column;
        position: fixed;
        top: 0;
        min-height: 100vh;
        width: 100%;
        display: flex !important;
        align-items: center;
        justify-content: center;
        right: -100%;
        z-index: 50 !important;
        background: black;
        transition: all 300ms linear;
    }

    .menuicon {
        z-index: 51 !important;
        display: flex !important;
        flex-direction: column;
        gap: 6px;
    }

    .zindex {
        z-index: 0 !important;
    }

}

@media (min-width:768px) {
    .padding_top_128 {
        padding-top: 128px !important;
    }

    .padding_bottom_192 {
        padding-bottom: 192px !important;
    }

        .section3_card {
            padding-top: 75px;
            padding-bottom: 76px;
            padding-left: 88px;
        }
}